.App {
  text-align: center;
  box-shadow: 10px 10px 10px black;
}

body {
  background: #ccf1fb;
}
h1 {
  font-family: sans-serif;
}

.App {
  margin: auto;
  width: 800px;
  background: #fff;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 30px;
}
.section {
  margin-bottom: 20px;
}
.header {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}
.accardion {
  background: #fff;
  width: 600px;
  border: 2px solid #000;
  box-shadow: 10px 10px 10px rgb(189, 174, 174);
  margin-left: auto;
  margin-right: auto;
}
.desc {
  text-align: left;
}
.btn {
  padding: 3px;
  background: #172351;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
}
